*.csv
*.txt
*.gz
*.db
/01_week/models/
/02_week/homework/mlruns/
/02_week/homework/models/
/02_week/homework/artifacts/
pass.pass
*.parquet
/06_week/code/infrastructure/.terraform/providers/registry.terraform.io/hashicorp/